body {
  /*background-color: #f5f8f9;*/
  margin: 0;
  padding: 0;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.head {
  /*background-color: yellow;*/
  width: 100%;
  height: 70px;
  font-size: 30px;
  font-weight: 800;
  padding: 10px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #243832;
}

.head-box {
  width: 100%;
  padding: 10px 30px;
  display: flex;

  /*align-items: center;*/
}

.head-box > i {
  color: #243832;
}

.head-title {
  margin-left: 10px;
  color: #243832;
}

.container {
  background-color: white;
  width: 100%;
  height: 78vh;
  /*padding: 20px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-column {
  width: 70%;
}

/*요약 글자*/
.container-column:first-child {
  /*font-size: 40px;
  margin-bottom: 20px;*/
}

.selectbox {
  background-color: transparent;
  padding: 10px;
  width: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
}

.selectbox:focus {
  /*outline: 2px solid gray;*/
  outline: none;
}

.container-column:nth-child(3) {
  margin: 20px 0px;
}

.container-column:nth-child(3) form {
  display: flex;
  flex-direction: column;
}

.container-column:nth-child(3) label {
  padding: 5px;
}

.container-column:nth-child(3) > form > textarea {
  /*background-color: #f0f2f6;*/
  background-color: white;
  width: 99.3%;
  height: 280px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

.container-column:nth-child(3) > form > textarea:focus {
  border: 1px solid red;
}

.lengthBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.countWithout,
.countWith {
  font-size: 15px;
  /*color: gray;
  font-weight: 350;*/
  margin-top: 5px;
}

#input-box:focus {
  outline: 2px solid gray;
}

.submit-btn {
  background-color: white;
  color: red;
  font-family: 600;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid red;
  /*margin-top: 20px;
  margin-bottom: 5px;*/
}

.container-column:last-child {
  /*background-color: blue;*/
  height: 100px;
}

#mydiv2 {
  padding-top: 30px;
  border-top: 1px solid gray;
}

/* 뉴스 클릭 시 ui */
.arrow-btn {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 20px;
}

#news-container {
  display: none;
  margin-top: 40px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px;
}
.box:first-child {
  /*background-color: yellow;*/
}

.rank {
  font-size: 28px;
}

.title {
  font-size: 18px;
  margin: 0px 10px;
}

img {
  height: 80px;
  border-radius: 3px;
}

.line {
  background-color: #f0f2f6;
  height: 1px;
  width: 100%;
}

.result-container {
  margin-top: 40px;
}
/*  */
