<!-- 이제 사용 안함 -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script type="text/javascript" src="../static/js/main.js"></script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Summarizer</title>

    <script>
      // var xhr = new XMLHttpRequest();
      // xhr.open("GET", "/index", true);
      // xhr.onreadystatechange = function () {
      //   if (xhr.readyState === 4 && xhr.status === 200) {
      //     var response = JSON.parse(xhr.responseText);
      //     // 응답 데이터 처리
      //     console.log(response.message);
      //   }
      // };
      // xhr.send();

      function changeValue() {
        var choice = document.getElementById("select");
        var mychoice = choice.options[choice.selectedIndex].value;

        if (mychoice === "본문") {
          //container1.style.display = "block";
          //container2.style.display = "block";
          //newsdiv.style.display = "none";
          //resultbox.style.display = "none";
          //window.location.href = "index.html";
        } else if (mychoice === "뉴스") {
          window.location.href = "/article";
        }
      }

      function countValue(value) {
        var countWithout = value.replace(/\s/g, "").length;
        var countWith = value.length;

        document.getElementById("countWithout").textContent =
          "공백 제외 : " + countWithout;
        document.getElementById("countWith").textContent =
          "공백 포함 : " + countWith;
        document.getElementById("countWithout").style.color = "red";
      }
    </script>
  </head>

  <body>
    <div id="result"></div>
    <input type="text" id="value" />
    <button id="myButton">여기를 클릭!!</button>
    <div class="head">
      <div class="head-box">
        <i class="fas fa-user-astronaut"></i>
        <div class="head-title">Summarizer</div>
      </div>
      <div>
        <select id="select" class="selectbox" onchange="changeValue()">
          <option value="본문" class="lang-option">본문</option>
          <!-- <option value="URL" class="lang-option">URL</option>
        <option value="문서" class="lang-option">문서</option> -->
          <option value="뉴스" class="lang-option">뉴스</option>
        </select>
      </div>
    </div>
    <div id="main" class="container">
      <div class="container-column"></div>
      <div class="container-column">
        <!--<select id="select" class="selectbox" onchange="changeValue()">
          <option value="본문" class="lang-option">본문</option>
          <option value="URL" class="lang-option">URL</option>
          <option value="문서" class="lang-option">문서</option>
          <option value="뉴스" class="lang-option">뉴스</option>
        </select>-->
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/1dcf822923.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
